# Environments
.env
venv/

# IDE
.vscode/
.idea/
.agents/
.gemini/

Scratch


# Logs
*.log
logs/

*.parquet
__pycache__
docs
task.txt
skills-lock.json
temp
*.pyc

airflow/config/airflow.cfg
airflow/logs/
